/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Archivo+Narrow:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-blue: #3579db;
    --dark-blue: #2273C5;
    --orange: #fd8f28;
    --light-blue: #f3f8fd;
    --light-black: #343434;
    --light-blue-gray: #f5f8ff;
    --light-white: #f8f9fa;
}

body{
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--light-black);
    overflow-x: hidden;
}

body #body-container{
    height: 100%;
    max-width: 1280px;
    background-color: var(--light-white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 8px;
}

.body-box .body-inner{
    max-width: 1024px;
    margin: auto;
    
}

.box-heading{
    padding: 16px;
    margin-bottom: 16px;
}

.box-heading .heading-inner h2{
    text-align: center;
}

.greeting-inner .greeting-name{
    color: #ff5656;
}

.box-fullfill{
    padding: 16px;
    margin-bottom: 32px;
}

#form-add-job{
    display: flex;
    justify-content: space-between;
}

.content-input .input-col{
    width: 47%;
    margin-top: 16px;
}

.input-detail .label-input, .date-input label{
    font-weight: 500;
    font-size: 16px;
}

.input-detail .box-input, .date-input select{
    height: 40px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #d3d7da;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.input-detail .box-input:focus, .date-input select:focus{
    border-color: rgb(78 151 224 / 50%);
    outline: 0;
    box-shadow: 0 0 0 2px rgb(78 151 224 / 50%);
}

.text-detail-job{
    min-width: 100%;
    max-width: 100%;
    min-height: 146px;
    max-height: 146px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.input-col .box-submit-job{
    display: flex;
    justify-content: end;
}

.input-col #btn-submit-job, .box-submit-date #btn-submit-date{
    height: 40px;
    width: 160px;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.input-col #btn-submit-job:hover, .box-submit-date #btn-submit-date:hover{
    box-shadow: 0 8px 25px -8px rgb(78 151 255);
}

/* <----------------------------BOX-SEARCH-DATE---------------------------->*/
.search-content #form-search-job{
    margin-top: 16px;
}

.search-content .day-month-year{
    display: flex;
}

.day-month-year .date-input{
    margin-right: 10px;
    max-width: 150px;
}

.box-submit-date{
    display: flex;
    align-items: center;
}
