/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Archivo+Narrow:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-blue: #3579db;
    --dark-blue: #2273C5;
    --orange: #fd8f28;
    --light-blue: #f3f8fd;
    --light-black: #343434;
    --light-blue-gray: #f5f8ff;
    --light-white: #f8f9fa;
    --light-red: #ff5656;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

body{
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
    background-color: #8BC6EC;
    background-image: radial-gradient(circle, #8BC6EC 0%, #95b9e2 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
    font-size: 16px;
    color: var(--light-black);
    overflow-x: hidden;
}

/* <----------------------------NAV-BAR---------------------------->*/
.navbar{
    position: sticky;
    height: 92px;
    width: 100%;
    background-color: var(--light-white);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.5);
}

.navbar .nav-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.navbar .nav-container .custom-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar .nav-container .web-description{
    font-family: 'Anek Latin', sans-serif;
    display: flex;
    padding: 4px;
}

.navbar .web-description>a, .navbar .web-description>a:visited{
    text-decoration: none;
}

.navbar .nav-container .web-name{
    margin-left: 8px;
}

.web-name .web-title{
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;   
    margin-top: 6px;
}

.web-name .web-title>a, .web-name .web-title>a:visited{
    text-decoration: none;
    color: var(--orange);
}

.web-name .web-brand-name{
    color: var(--primary-blue);
    cursor: pointer;
    user-select: none;
}

/* <--------------- CSS for Drop Down Menu Navbar ---------------> */

.nav-container .main-menu{
    display: flex;
    /* margin-left: 240px; */
    list-style-type: none;
    height: 100%;
    align-items: center;
    background-color: var(--light-blue-gray);
    cursor: pointer;
    user-select: none; 
    font-weight: 500;
    /* color: var(--light-black); */
}

.main-menu>.menu-item{
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    float: left;
    margin: 0 16px;
}

.main-menu .menu-item:hover>.sub-menu{
    display: block;
}

.menu-item:hover>.menu-item-name, .menu-item:hover>.menu-item-name a, .menu-item:hover>i{
    color: var(--primary-blue)!important;
}

.menu-item .menu-item-name, .menu-item .menu-item-name>a{
    font-size: large;
}
.menu-item .menu-item-name>a, .menu-item .menu-item-name>a:visited{
    text-decoration: none;
    color: var(--light-black);
}

.main-menu .menu-item .sub-menu{
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    left: -16px;
    min-width: 240px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 15%);
    /* background-color: var(--light-blue-gray); */
    background-color: #f6f9ff;
    /* color: var(--light-black); */
}

.main-menu .sub-menu a{
    text-decoration: none;
    font-weight: 400;
    color: var(--light-black);
}

.main-menu .sub-menu a:hover{
    color: var(--primary-blue);
}

.main-menu .sub-menu li{
    padding: 8px 16px;
    outline: 0;
    border: none;
}

/* <--------------- CSS for Navbar Mobile---------------> */
.navbar-menu{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-menu .open-nav-mobile{
    cursor: pointer;
    font-size: 20px;
}

.navbar-menu .open-nav-mobile:hover{
    color: var(--dark-blue);
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 3;
    cursor: pointer;
    display: none;
    animation: fadeIn linear 0.25s;
}

#navbar-right:checked ~ .overlay{
    display: block;
}

#navbar-right:checked ~ .nav-mobile{
    transform: translateX(0%);
}

.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 320px;
    height: 100%;
    z-index: 4;
    transform: translateX(100%);
    transition: transform linear 0.25s;
}

.navbar-right-close{
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    color: var(--light-red);
    font-size: 18px;
}

.nav-mobile-container .menu-mobile-user{
    padding: 16px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--dark-blue);
    cursor: default;
}

.menu-mobile-user i{
    font-size: 32px;
}

.menu-mobile-user .greeting-name{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-mobile-menu{
    padding: 8px 16px;
}

.nav-mobile-menu .menu-mobile-content{
    list-style-type: none;
}

.menu-mobile-content .menu-mobile-item{
    padding: 12px 16px;
}

.menu-mobile-content .menu-mobile-item:hover, .menu-mobile-item:active{
    background-color: var(--dark-blue);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.menu-mobile-item:hover i{
    color: white;
}

.menu-mobile-item i{
    color: var(--dark-blue);
}

.menu-mobile-item .menu-item-name{
    margin-left: 10px;
    font-weight: 500;
}

/* <----------------------------BODY-CONTENT---------------------------->*/
body #body-container{
    height: 100%;
    max-width: 1280px;
    background-color: var(--light-white);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.body-box .body-inner{
    max-width: 1024px;
    margin: auto;
    
}

.box-heading{
    padding: 16px;
    margin-bottom: 16px;
}

.box-heading .heading-inner h2{
    text-align: center;
}

.greeting-inner .greeting-name{
    color: var(--light-red);
}

/* <----------------------------BOX-SEARCH-DATE---------------------------->*/

.date-input label{
    font-weight: 500;
    font-size: 16px;
}

.date-input select{
    height: 40px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #d3d7da;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.date-input select:focus{
    border-color: rgb(78 151 224 / 50%);
    outline: 0;
    box-shadow: 0 0 0 2px rgb(78 151 224 / 50%);
}

.box-submit-date #btn-submit-date{
    height: 40px;
    width: 160px;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.box-submit-date #btn-submit-date:hover{
    box-shadow: 0 8px 25px -8px rgb(78 151 255);
}

.box-search{
    padding: 16px;
}

.search-content #form-search-job{
    margin-top: 16px;
}

.search-content .day-month-year{
    display: flex;
}

.day-month-year .date-input{
    margin-right: 10px;
    max-width: 150px;
}

.box-submit-date{
    display: flex;
    align-items: center;
}

/* <----------------------------CSS for FOOTER---------------------------->*/
footer{
    width: 100%;
    padding-top: 8px;
}

footer>.footer-container-1{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    user-select: none;
    padding: 0 8px;
}

.footer-detail{
    color: var(--light-white);
    font-weight: 400;
}

.footer-detail .footer-list{
    display: flex;
}

.footer-list .list-detail{
    text-decoration: none;
    list-style-type: none;
}

.footer-list .col-2{
    margin-left: 200px;
}

.footer-list .list-detail li>a{
    text-decoration: none;
    color: var(--light-white);
}

.footer-list .list-detail li>a:hover{
    text-decoration: underline;
}

.footer-list .list-detail li>a:visited{
    color: var(--light-white);
}

footer>.footer-container-2{
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
}

footer>.footer-container-2 .copyright{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: var(--light-white);
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* <----------------------------RESPONSIVE---------------------------->*/
/* Mobile and Tablet: max-width: 1024px(1023)  */
@media only screen and (max-width: 63.9375em){
    body #body-container{
        border-radius: 0px;
        height: fit-content;
    }

    .navbar .nav-container .custom-menu{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .web-description .web-name{
        display: none;
    }

    .box-greeting{
        padding: 4px;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        display: none;
    }
}

/* Mobile: max: 280px */
@media only screen and (max-width: 17.5em){
    body{
        background-color: var(--light-white);
        background-image: none;
    }

    .navbar{
        height: 70px;
    }

    .nav-mobile{
        width: 180px;
    }

    .web-description{
        padding: 2px!important;
    }

    .web-description>a>img{
        max-width:60px;
        max-height:66px;
        width: auto;
        height: auto;
    }

    .search-content .day-month-year{
        display: flex;
        flex-direction: column;
    }

    .day-month-year .date-input, .box-submit-date, .box-submit-date #btn-submit-date {
        max-width: 100%;
        width: 100%;
    }

}

/* Mobile: 320px - 414px | max: 420px */
@media only screen and (min-width: 20em) and (max-width: 26.25em){
    body{
        background-color: var(--light-white);
        background-image: none;
    }

    .navbar{
        height: 70px;
    }

    .nav-mobile{
        width: 250px;
    }

    .navbar .nav-container {
        max-width: 26.25em;
    }

    .web-description{
        padding: 2px!important;
    }

    .web-description>a>img{
        max-width:60px;
        max-height:66px;
        width: auto;
        height: auto;
    }

    .web-description .web-name{
        display: none;
    }

    .search-content .day-month-year{
        display: flex;
        flex-direction: column;
    }

    .day-month-year .date-input, .box-submit-date, .box-submit-date #btn-submit-date {
        max-width: 100%;
        width: 100%;
    }
}

/* Tablet: 600px - 1024px */
@media only screen and (min-width: 37.5em) and (max-width: 63.9375em){
    .navbar .nav-container {
        max-width: 63.9375em;
    }

    .web-description .web-name{
        display: block;
    }
    
    .navbar .nav-container .custom-menu{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    body #body-container{
        height: 100%;
    }

}

